@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Prompt&display=swap');

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}
.modal::-webkit-scrollbar,body::-webkit-scrollbar {
  width: 11px;
}
.modal, body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  font-family: 'Poppins', sans-serif;
}
.modal::-webkit-scrollbar-, body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.modal::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    color: #fff!important;
    background: rgb(67, 109, 201);
}
.navbar-toggler {
    padding: 0!important;
}
.notification {
    margin-right: 15px;
    position: relative;
}
.no-of-notification {
    border: 1px solid #fff;
    border-radius: 50%;
    background: #f00;
    color: #fff;
    font-size: .8rem;
    position: absolute;
    top: 0;
    right: -51%;
    transform: translate(-50%, -45%);
    padding: 0.1rem .4rem;
}
.notification-box {
    background: whitesmoke;
    box-shadow: 2px 2px 3px 2px grey;
    position: absolute;
    z-index: 5;
    width: 300px;
    max-height: 600px;
    overflow: auto;
    top: 0%;
    transform: translate(-114%, 10%);
    display: none;
    border-radius: 6px;
}

.notification-box-content {
    color: #000;
    background: rgba(25, 192, 192, 0.1);
    margin: 0;
    border-bottom: 1px solid gray;
    padding: 20px 20px 5px 20px;
    line-height: 10px;
}
.notification-msg {
    font-size: 1rem;
}
.notification-time {
    font-size: 0.7rem;
    color: rgba(0,0,0,0.7);
    text-align: right;
    margin-bottom: 0;
    padding-bottom: 4px;
}

.notification:hover {
    cursor: pointer;
}

.general-store {
    display: none;
    color: #fff!important;
}
.generalStore {
    color: #fff;
}
.nav-link {
    color: #fff;
}
#inputSearch {
    box-shadow: 2px 2px 2px gray;
}
#inputSearch:hover {
    border: 4px solid rgba(67, 109, 206, 0.5);
}
#searched-data {
    min-width: 100%;
    overflow: auto;
}
.products-heading {
    color: green;
    font-size: 1.6rem;
    font-variant: all-small-caps;
}
#searched-data .table>thead {
    background: rgba(67, 109, 201, 0.9);
    color: rgba(255, 255, 255, 0.9);
}
tbody {
    font-size: 0.8rem;
    font-family: 'Prompt', sans-serif;
 }
 span #stock-value {
    font-size: 0.6rem;
 }
.dropdown-item {
    padding: 0.4rem 1.5rem!important;
}
.dropdown-item:hover {
    background: green!important;
}
hr {
    margin: 0!important;
    color: #fff!important;
}

.newProduct-container {
    box-shadow: 2px 7px 12px 2px grey;
    padding: 22px 42px!important;
    width: 60%!important;
}
@media screen and (max-width: 992px){
    .newProduct-container {
        width: 100%!important;
    }
}