<div class="notification-box-inside">
    {% for msg in notification %}
    <div id="{{ msg.id }}" class="notification-box-content">
        <p class="notification-msg">
            {{ msg.des }}
        </p>
        <p class="notification-time">
            {{ msg.date_time }}
        </p>
    </div>
    {% endfor %}
</div>


<script>
    $('.notification-box-content').click(function(){
        var notificationId = $(this).attr('id');
        if (notificationId == 1){
            getSelectedNotification(notificationId);
        }else if(notificationId == 2){
            getSelectedNotification(notificationId);
        }else if(notificationId == 5){
            getSelectedNotification(notificationId);
        }
    });

    function getSelectedNotification(key){
        $.ajax({
            url: '/notification/',
            type: 'get',
            data: {'key': key },
            success: function(response){
                console.log(response);
                $('#showSelectedNotification').html(response);
            }
        });
    }
</script>