<p class = "display-5">Product Details: <span class="text-primary">({{ sn }})</span></p>
<table class="table table-bordered table-hover table-striped table-sm">
    <thead class="bg-dark text-white p-2">
        <tr>
            <th>S.N.</th>
            <th>P.Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Date of Entry</th>
            <th>Date of MF.</th>
            <th>Date of Exp.</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Status</th>
            <!--<th>qrcode</th>-->
            <th> </th>
        </tr>
    </thead>
    <tbody class="table-data">
    {% for product in products %}
        <tr id="{{ product.id }}">
            <td class="text-center showDetails">{{ forloop.counter }}.</td>
            <td class=" showDetails">{{ product.pid }}</td>
            <td class=" showDetails">{{ product.pname }}</td>
            <td class="text-right showDetails">{{ product.price }}</td>
            <td class=" showDetails">{{ product.doe }}</td>
            <td class=" showDetails">{{ product.mfd }}</td>
            <td class=" showDetails">{{ product.exp }}</td>
            <td class=" showDetails">{{ product.category }}</td>
            <td class=" showDetails">{{product.supplier.sname}}</td>
            <td class="text-center">
                <span class="btn btn-outline-info ">
                {% if product.qty > 0 %}
                    <small class="well well-small ">in-stock</small>
                {% else %}
                    <small>out-of-stock</small>
                {% endif %}
                    <span class="btn btn-dark p-1 rounded-circle" id="stock-value">{{ product.qty }}</span>
                </span>
            </td>
            <!--<td><img src="{{ product.qr_code.url }}"/></td>-->
            <td class="text-center">
                <a href="/EditProduct/{{ product.id }}"><button class="btn btn-success">
                    <small class="well well-lg">Edit</small>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </button></a>
                <a href="/DeleteProduct/{{ product.id }}" title="Delete"><button class=" btn btn-danger">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div id="show-selected-details1"></div>

<script>
    $('.showDetails').click(function(){
        //alert($(this).parent().attr("id"));
        $.ajax({
            url: '{% url 'showDetails' %}',
            type: 'get',
            data: { 'id': $(this).parent().attr("id")},
            success: function(response){
                $('#show-selected-details1').html(response);
            }
        });
     });
</script>